.demo {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to left bottom, hsl(201, 100%, 85%) 0%,hsl(18, 100%, 85%) 100%);
}
.main {
  flex: 1;
  margin: -20px 16px 0;
  text-align: center;
  position: relative;
} 
h1 {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0.625rem 0 2.5rem;
  position: relative;
  text-align: center;
}